data_csv/technical_documents_df.csv
data_csv/technical_bulletin_df (2).csv
data_csv/fitting_instructions_df.csv
drive-download-20231020T124731Z-001.zip
drive-download-20231020T124731Z-001/
eda.ipynb
fitting_instruction_final.xlsx
images_download.ipynb
